<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Octopus | 节点监控</title>
		<link rel="stylesheet" type="text/css" href="semantic-ui/semantic.min.css"/>
		<link rel='stylesheet prefetch' href='semantic-ui/components/icon.min.css'>
		<style>
			.comtent {
					padding-left: 80px;
				    padding-right: 80px;
				    padding-top: 20px;
			}
		</style>
	</head>
	<body>
		<div class=" ui container">
			<div class="ui left fixed vertical menu pointing secondary green " style="font-size: 18px;">
			      <h1 class="item green">Octopus UI</h1>
			      <a class="active item" href="/"><i class="server icon"></i> HOSTS </a>
			      <a class="item"><i class="wrench icon"></i>CONFIG </a>
				  <a class="item"><i class="cog icon"></i>SYSTEM </a>
				  <!-- <a class="item"><i class="tachometer alternate icon"></i>STATUS INFO </a> -->
				  <h2 class="ui dividing header"></h2>
				  <div class="item">
					  <button class="negative big ui button "><i class="sign out alternate icon"></i></i>SIGNOUT </button>
				  </div>
			</div>
			
			<div class="ui right fixed vertical menu">
				<!-- <a href="https://www.google.com" class="item">
					<button class="positive ui big button"><i class="tasks icon"></i>Add Host</button>
				</a> -->
				<a class="item">
				    <div class="ui small teal label">12</div><i class="heartbeat icon green"></i>ONLINE</a>
				<a class="item">
				    <div class="ui small red label">4</div><i class="close icon red"></i></i>OFFLINE</a>	
				  <!-- <div class="item">
				    
				        <div class="header">Products</div>
				        <div class="menu">
				          <a class="item">Enterprise</a>
				          <a class="item">消费者</a>
				        </div>
				      
				  </div> -->
				  <div class="item">
				  		<div class="ui wide skyscraper test ad centerd" data-text="">
							<a href="https://www.vultr.com/?ref=7214475"><img src="https://www.vultr.com/media/banners/banner_160x600.png" width="160" height="600"></a>
						</div>			  
				  </div>
				 
			</div>
			<div class="ui container comtent">
				<div class="ui three column grid">
				  <div class="column">
				    <div class="ui card">
				      <div class="content">
				        <i class="right floated star yellow icon"></i>
				        <div class="header"><i class="server icon"></i>阿里云上海-2</div>
				        <div class="description">
						  <table class="ui olive table">
						    <tbody>
						      <tr>
						        <td>CPU</td>
						        <td>4核</td>
						        <td>32%</td>
						      </tr>
						      <tr>
						        <td>内存</td>
						        <td>16G</td>
						        <td>56%</td>
						      </tr>
							  <tr>
							    <td>硬盘</td>
							    <td>500G</td>
							    <td>27%</td>
							  </tr>
							  <tr>
							    <td>交换</td>
							    <td>8G</td>
							    <td>2%</td>
							  </tr>
							  <tr>
							    <td>网络</td>
							    <td>↑ 3.8MB</td>
							    <td>↓ 15.7MB</td>
							  </tr>
						    </tbody>
						  </table>
						  
				        </div>
				      </div>
				      <div class="extra content">
				        <span class="left floated like"><i class="clock green icon"></i> 214天21小时2分钟41秒 </span>
				      </div>
				    </div>
				  </div>
				  <div class="column">
				    <div class="ui card">
				      <div class="content">
				        <i class="right floated star yellow icon"></i>
				        <div class="header"><i class="server icon"></i>阿里云上海-3</div>
				        <div class="description">
				    	  <table class="ui olive table">
				    	    <tbody>
				    	      <tr>
				    	        <td>CPU</td>
				    	        <td>4核</td>
				    	        <td>32%</td>
				    	      </tr>
				    	      <tr>
				    	        <td>内存</td>
				    	        <td>16G</td>
				    	        <td>56%</td>
				    	      </tr>
				    		  <tr>
				    		    <td>硬盘</td>
				    		    <td>500G</td>
				    		    <td>27%</td>
				    		  </tr>
				    		  <tr>
				    		    <td>交换</td>
				    		    <td>8G</td>
				    		    <td>2%</td>
				    		  </tr>
				    		  <tr>
				    		    <td>网络</td>
				    		    <td>↑ 3.8MB</td>
				    		    <td>↓ 15.7MB</td>
				    		  </tr>
				    	    </tbody>
				    	  </table>
				    	  
				        </div>
				      </div>
				      <div class="extra content">
				        <span class="left floated like"><i class="clock green icon"></i> 214天21小时2分钟41秒 </span>
				      </div>
				    </div>
				</div>
				<div class="column">
				    <div class="ui card">
				      <div class="content">
				        <i class="right floated star yellow icon"></i>
				        <div class="header"><i class="server icon"></i>阿里云上海-1</div>
				        <div class="description">
				    	  <table class="ui olive table">
				    	    <tbody>
				    	      <tr>
				    	        <td>CPU</td>
				    	        <td>4核</td>
				    	        <td>32%</td>
				    	      </tr>
				    	      <tr>
				    	        <td>内存</td>
				    	        <td>16G</td>
				    	        <td>56%</td>
				    	      </tr>
				    		  <tr>
				    		    <td>硬盘</td>
				    		    <td>500G</td>
				    		    <td>27%</td>
				    		  </tr>
				    		  <tr>
				    		    <td>交换</td>
				    		    <td>8G</td>
				    		    <td>2%</td>
				    		  </tr>
				    		  <tr>
				    		    <td>网络</td>
				    		    <td>↑ 3.8MB</td>
				    		    <td>↓ 15.7MB</td>
				    		  </tr>
				    	    </tbody>
				    	  </table>
				    	  
				        </div>
				      </div>
				      <div class="extra content">
				        <span class="left floated like"><i class="clock green icon"></i> 214天21小时2分钟41秒 </span>
				      </div>
				    </div>
				</div>
				<div class="column">
				    <div class="ui card">
				      <div class="content">
				        <i class="right floated star yellow icon"></i>
				        <div class="header"><i class="server icon"></i>阿里云上海-5</div>
				        <div class="description">
				    	  <table class="ui olive table">
				    	    <tbody>
				    	      <tr>
				    	        <td>CPU</td>
				    	        <td>4核</td>
				    	        <td>32%</td>
				    	      </tr>
				    	      <tr>
				    	        <td>内存</td>
				    	        <td>16G</td>
				    	        <td>56%</td>
				    	      </tr>
				    		  <tr>
				    		    <td>硬盘</td>
				    		    <td>500G</td>
				    		    <td>27%</td>
				    		  </tr>
				    		  <tr>
				    		    <td>交换</td>
				    		    <td>8G</td>
				    		    <td>2%</td>
				    		  </tr>
				    		  <tr>
				    		    <td>网络</td>
				    		    <td>↑ 3.8MB</td>
				    		    <td>↓ 15.7MB</td>
				    		  </tr>
				    	    </tbody>
				    	  </table>
				    	  
				        </div>
				      </div>
				      <div class="extra content">
				        <span class="left floated like"><i class="clock green icon"></i> 214天21小时2分钟41秒 </span>
				      </div>
				    </div>
				</div>
			</div>
		</div>	
		
		
	</body>
	<script src="semantic-ui/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="semantic-ui/semantic.min.js" type="text/javascript" charset="utf-8"></script>
</html>
